@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(99.235% 0.00425 237.366);
  --foreground: oklch(0.14 0 0);
  --card: oklch(0.97 0.02 228.94);
  --card-foreground: oklch(0.14 0 0);
  --popover: oklch(98.742% 0.00761 229.424);
  --popover-foreground: oklch(0.14 0 0);
  --primary: oklch(0.65 0.19 251.78);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.92 0.04 240.37);
  --secondary-foreground: oklch(0.20 0 0);
  --muted: oklch(0.98 0.02 210.10);
  --muted-foreground: oklch(61.929% 0.12838 234.269);
  --accent: oklch(0.94 0.03 229.26);
  --accent-foreground: oklch(0.20 0 0);
  --destructive: oklch(0.59 0.20 21.24);
  --border: oklch(86.771% 0.0901 223.352);
  --input: oklch(0.96 0.03 219.71);
  --ring: oklch(0.65 0.19 251.78);
  --chart-1: oklch(0.60 0.22 257.21);
  --chart-2: oklch(0.66 0.11 212.15);
  --chart-3: oklch(0.64 0.18 146.74);
  --chart-4: oklch(0.84 0.17 84.93);
  --chart-5: oklch(0.64 0.19 0.78);
  --sidebar: oklch(0.98 0.01 234.75);
  --sidebar-foreground: oklch(0.14 0 0);
  --sidebar-primary: oklch(0.65 0.19 251.78);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.94 0.03 229.26);
  --sidebar-accent-foreground: oklch(0.20 0 0);
  --sidebar-border: oklch(0.90 0.07 222.20);
  --sidebar-ring: oklch(0.94 0.03 239.82);

  --font-sans: "Montserrat", "Montserrat Fallback", sans-serif;
  --font-mono: Fira Code, monospace;
  --font-heading: "Kamar", "Kamar Fallback", "Noto Sans Armenian", sans-serif;

  --radius: 0.625rem;
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.40 0.14 256.46 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.40 0.14 256.46 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.40 0.14 256.46 / 0.10), 0 1px 2px -1px oklch(0.40 0.14 256.46 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.40 0.14 256.46 / 0.10), 0 1px 2px -1px oklch(0.40 0.14 256.46 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.40 0.14 256.46 / 0.10), 0 2px 4px -1px oklch(0.40 0.14 256.46 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.40 0.14 256.46 / 0.10), 0 4px 6px -1px oklch(0.40 0.14 256.46 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.40 0.14 256.46 / 0.10), 0 8px 10px -1px oklch(0.40 0.14 256.46 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.40 0.14 256.46 / 0.25);
  
}

.dark {
  --background: oklch(0.16 0.04 238.24);
  --foreground: oklch(0.99 0 0);
  --card: oklch(0.21 0.05 243.41);
  --card-foreground: oklch(0.99 0 0);
  --popover: oklch(0.23 0.04 224.78);
  --popover-foreground: oklch(0.99 0 0);
  --primary: oklch(0.76 0.13 243.50);
  --primary-foreground: oklch(0.20 0 0);
  --secondary: oklch(0.39 0.11 248.66);
  --secondary-foreground: oklch(0.99 0 0);
  --muted: oklch(0.19 0.05 247.94);
  --muted-foreground: oklch(0.80 0.12 231.98);
  --accent: oklch(0.22 0.05 237.32);
  --accent-foreground: oklch(0.99 0 0);
  --destructive: oklch(0.70 0.19 22.23);
  --border: oklch(0.25 0.06 239.63);
  --input: oklch(0.30 0.07 236.52);
  --ring: oklch(0.76 0.13 243.50);
  --chart-1: oklch(0.49 0.24 264.40);
  --chart-2: oklch(0.70 0.16 160.43);
  --chart-3: oklch(0.77 0.17 65.36);
  --chart-4: oklch(0.62 0.26 305.32);
  --chart-5: oklch(0.64 0.25 16.51);
  --sidebar: oklch(0.16 0.04 238.24);
  --sidebar-foreground: oklch(0.99 0 0);
  --sidebar-primary: oklch(0.76 0.13 243.50);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.34 0.08 240.77);
  --sidebar-accent-foreground: oklch(0.99 0 0);
  --sidebar-border: oklch(0.26 0.06 242.06);
  --sidebar-ring: oklch(0.41 0.11 249.84);
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.96 0.02 255.53 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.96 0.02 255.53 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.96 0.02 255.53 / 0.10), 0 1px 2px -1px oklch(0.96 0.02 255.53 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.96 0.02 255.53 / 0.10), 0 1px 2px -1px oklch(0.96 0.02 255.53 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.96 0.02 255.53 / 0.10), 0 2px 4px -1px oklch(0.96 0.02 255.53 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.96 0.02 255.53 / 0.10), 0 4px 6px -1px oklch(0.96 0.02 255.53 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.96 0.02 255.53 / 0.10), 0 8px 10px -1px oklch(0.96 0.02 255.53 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.96 0.02 255.53 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-heading: var(--font-heading);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
